---
import { Image } from 'astro:assets';
import GithubQrcode from "../../assets/qrcodes/qrcode_github.webp"
import RepoQrcode from "../../assets/qrcodes/qrcode_repo.webp"


const DISCORD_LINK = "https://discordapp.com/users/1086832595943305236";
const GITHUB_LINK = "https://github.com/lbc0841";
const REPO_LINK = "https://github.com/lbc0841/icrack41-blog";
const DISCORD_SERVER_LINK = "https://discord.gg/eTHuNe3H";
---

<div class="about-me-item-container">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 12px; margin-right: 20px;">找到我<hr></div>

    <div class="find-me-links">
        
        
        <b class="entering-text"><i class="fa-brands fa-discord" style="width: 22px;"></i> Discord</b>
        <a class="entering-text link-text" href={DISCORD_LINK} target="_blank">lbc0841</a>
        <br>

        <b class="entering-text"><i class="fa-solid fa-envelope" style="width: 22px;"></i> Gmail</b>
        <a class="entering-text link-text" href="" target="_blank">cracker04012008@gmail.com</a>
        <br>

        <b class="entering-text"><i class="fa-brands fa-github" style="width: 22px;"></i> Github</b>
        <a class="entering-text link-text" href={GITHUB_LINK} target="_blank">https://github.com/lbc0841</a>
        <br><br>

        <b class="entering-text">項目位置</b>
        <a class="entering-text link-text" href={REPO_LINK} target="_blank">https://github.com/lbc0841/icrack41-blog</a>
        <br>

        <b class="entering-text">我的 Discord 伺服器</b>
        <a class="entering-text link-text" href="">沒有那種東西</a>
        <a class="entering-text link-text" href={DISCORD_SERVER_LINK} target="_blank">(記事本能算嗎)</a>
        <br>

    </div>

    <div class="flex justify-center" style="margin-top: 70px; margin-bottom: 100px; margin-right: 14px; gap: 80px; padding:20px;">

        <div class="w-40 hidden md:block text-white">
            <Image src={GithubQrcode} alt="Github" class={"w-full"}/>
            <small class="block w-full text-center">My Github</small>
        </div>

        <div class="w-40 hidden md:block text-white">
            <Image src={RepoQrcode} alt="Github" class={"w-full"}/>
            <small class="block w-full text-center">Github Repo</small>
        </div>

    </div>
    
    <div class="to-top-button">
        到底了 ^•ﻌ•^
    </div>
</div>
