---
import MainNavigation from '../components/MainNavigation.astro';
import Layout from '../layouts/Layout.astro';

import "../styles/about.css";
import "../styles/anim.css";

import { Image } from 'astro:assets';
import profileImg from '../assets/profile_img.webp';

import MySelfIntro from "../components/about/MySelfIntro.astro";
import MySkillTree from "../components/about/MySkillTree.astro";
import MyAbility from "../components/about/MyAbility.astro";
import MyNowAndFutrue from "../components/about/MyNowAndFutrue.astro";
import FindMe from "../components/about/FindMe.astro";

const youtubeLink = "https://youtube.com/@lbc0841?si=0sn28TYgzdA0UpWU";
const bilibiliLink = "https://space.bilibili.com/3494375061457383?spm_id_from=333.1007.0.0";
const gmailLink = "";
const instagramLink = "https://www.instagram.com/lbc0841/";
---


<Layout>
	<div class="background opacity-30"></div>
	
	<MainNavigation/>
	
	<div class="about-me-container">
		<div class="side-bar">
			<div class="profile-container">
		
				<div class="profile-img">
					<Image class="profile-img" src={profileImg} alt="profile-img" style="border: solid 2px #7f91b1;"/>
				</div>
				
				<h4 class="profile-name">small D</h4>
	
				<div class="profile-links">
					<div><a href={bilibiliLink} style="color: rgb(0,174,231);"><span class="fa-brands fa-bilibili"></span></a></div>
					<div><a href={youtubeLink} style="color: rgb(255,0,51);"><span class="fa-brands fa-youtube"></span></a></div>
					<div><a href={gmailLink} style="color: rgb(249,181,0);"><span class="fa-regular fa-envelope"></span></a></div>
					<div><a href={instagramLink} style="color: rgb(99,230,190);"><span class="fa-brands fa-instagram"></span></a></div>
				</div>
			</div>

			<div class="good-music">
				<div class="text-xl font-bold mb-4" style="color: rgba(200, 200, 200, 0.7);">
					<i class="fa-solid fa-music"></i>
					好聽音樂
				</div>

				<div class="music-container" style="border: solid 1px white;">
					<a class="block min-w-full text-center p-2" href="https://youtu.be/Plu8_rCyaG4?si=px5jbk4oXye02NDL" target="_blank">
						Tempestissimo<br>
						<i class="fa-solid fa-arrow-up-right-from-square"></i>
					</a>

					<a class="block min-w-full text-center p-2" href="https://www.youtube.com/watch?v=smjVLYZEx10" target="_blank">
						Æsir - V.<br>
						<i class="fa-solid fa-arrow-up-right-from-square"></i>
					</a>

					<a class="block min-w-full text-center p-2" href="https://youtu.be/ik_A7Mqepe0?si=BK2HikCZ50ng_wys" target="_blank">
						Grievous Lady<br>
						<i class="fa-solid fa-arrow-up-right-from-square"></i>
					</a>

					<a class="block min-w-full text-center p-2" href="https://youtu.be/xaKViA8IZt8?si=I3HgkzTuG5vyX_r0" target="_blank">
						Fool For You<br>
						<i class="fa-solid fa-arrow-up-right-from-square"></i>
					</a>

					<a class="block min-w-full text-center p-2" href="https://youtu.be/Plu8_rCyaG4?si=px5jbk4oXye02NDL" target="_blank">
						Tempestissimo<br>
						<i class="fa-solid fa-arrow-up-right-from-square"></i>
					</a>
				</div>
				
			</div>

			<div class="contents-table">
				<div class="text-xl font-bold" style="color: rgba(200, 200, 200, 0.7); margin-bottom: 12px;">
					<i class="fa-solid fa-tags"></i>
					Tags
				</div>
		
				<div class="contents-table-item">
					<button onclick="scrollToElement('contents-container', 'my-self-intro')">關於我</button>
					<button onclick="scrollToElement('contents-container', 'my-skill-tree')">技能樹</button>
					<button onclick="scrollToElement('contents-container', 'my-ability')">能力</button>
					<button onclick="scrollToElement('contents-container', 'now-and-futrue')">現在 & 未來</button>
					<button onclick="scrollToElement('contents-container', 'find-me')">找到我</button>
				</div>
			</div>

		</div>
	
		<div id="contents-container" class="contents-container">
				<div id="my-self-intro"><MySelfIntro/></div>
				<div id="my-skill-tree"><MySkillTree/></div>
				<div id="my-ability"><MyAbility/></div>
				<div id="now-and-futrue"><MyNowAndFutrue/></div>
				<div id="find-me"><FindMe/></div>
		</div>

	</div>

	<script is:browser>
		function scrollToElement(containerId, elementId)
		{
			const container = document.getElementById(containerId);
	
			const containerTop = document.getElementById(containerId).getBoundingClientRect().top;
			const elementTop = document.getElementById(elementId).getBoundingClientRect().top;
			const scrollOffset = containerTop - elementTop + 70;
	
			if(container)
			{
				container.scrollTo({ 
					top: container.scrollTop - scrollOffset,
					behavior: 'smooth',
					
				});
				// container.scrollTop = element.offsetTop - container.offsetTop;
			}
		}
	</script>

	
</Layout>



