---
import MainNavigation from "../components/MainNavigation.astro";
import Layout from "../layouts/Layout.astro";

import { Border1 } from "../assets/borders.tsx"
import friends from "../data/friends.json";
---

<Layout>
    <div class="scanlines"></div>
    <div class="background"></div>
    <div class="background-grid"></div>
    <MainNavigation/>
    
    <div class="w-full h-[82%] overflow-auto grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-16 px-12 py-2 mt-16">
        {
            friends.map(friend => (
                <div class="relative w-full h-30">
                    <Border1/>
                    <h1 class="absolute top-4 left-30 text-2xl">{friend.name}</h1>
                    <small class="absolute top-12 left-30 text-md text-zinc-400">{friend.desc}</small>

                    <div class="absolute bottom-1 right-2">
                        {friend.links.map(link => (
                            <a class={`text-lg text-zinc-500 p-2 hover:text-white duration-100 ${link.icon}`} href={link.url}></a>
                        ))}
                    </div>

                    <img class="h-[100%] p-2" src={friend.avatar} alt={friend.name}/>

                </div>
            ))
        }
    </div>
    
</Layout>



