---
import { Image } from 'astro:assets';
import profileImg from '../assets/profile_img.webp';

import MySelfIntro from "../components/MySelfIntro.astro";
import MySkillTree from "../components/MySkillTree.astro";
import MyAbility from "../components/MyAbility.astro";
import FindMe from "../components/FindMe.astro";

import "../styles/about_me.css";

const youtubeLink = "https://space.bilibili.com/3494375061457383?spm_id_from=333.1007.0.0";
const bilibiliLink = "https://youtube.com/@lbc0841?si=0sn28TYgzdA0UpWU";
const gmailLink = "";
const instagramLink = "https://www.instagram.com/lbc0841/";


---

<div class="about-me-container">
    <div class="hidden sm:flex flex-col" style="margin-right: 20px; margin-top: 70px;">
        <div class="profile-container">
    
            <div class="profile-img">
                <Image class="profile-img" src={profileImg} alt="profile-img" style="border: solid 2px rgba(255, 255, 255, 0.4);"/>
            </div>
            
            <h3 style="color: white; margin-bottom: 10px;">Small D</h3>

            <ul style="list-style: none; display: flex; gap: 10px;">
                <li><a href={bilibiliLink} style="color: rgb(0,174,231);"><i class="fa-brands fa-bilibili"></i></a></li>
                <li><a href={youtubeLink} style="color: rgb(255,0,51);"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href={gmailLink} style="color: rgb(249,181,0);"><i class="fa-regular fa-envelope"></i></a></li>
                <li><a href={instagramLink} style="color: rgb(99,230,190);"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>

        <div class="contents-table-container">
            <div class="contents-table">
                <div class="text-xl font-bold" style="color: rgba(200, 200, 200, 0.7); margin-bottom: 12px;">
                    <i class="fa-solid fa-tags"></i>
                    Tags
                </div>
    
                <ul>
                    <li><button onclick="scrollToElement('contents-container', 'my-self-intro')">關於我</button></li>
                    <li><button onclick="scrollToElement('contents-container', 'my-skill-tree')">技能樹</button></li>
                    <li><button onclick="scrollToElement('contents-container', 'my-ability')">能力條</button></li>
                    <li><button onclick="scrollToElement('contents-container', 'find-me')">找到我</button></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="contents-container" class="contents-container overflow-y-auto overflow-x-hidden">
        <div class="w-full h-full">
            <!-- <div style="height: 70px;"></div> -->
            
            <div id="my-self-intro"><MySelfIntro/></div>
            <div id="my-skill-tree"><MySkillTree/></div>
            <div id="my-ability"><MyAbility/></div>
            <div id="find-me"><FindMe/></div>

        </div>
    </div>
</div>

<script is:browser>
    function scrollToElement(containerId, elementId)
    {
        const container = document.getElementById(containerId);

        const containerTop = document.getElementById(containerId).getBoundingClientRect().top;
        const elementTop = document.getElementById(elementId).getBoundingClientRect().top;
        const scrollOffset = containerTop - elementTop + 70;

        if(container)
        {
            container.scrollTo({ 
                top: container.scrollTop - scrollOffset,
                behavior: 'smooth',
                
            });
            // container.scrollTop = element.offsetTop - container.offsetTop;
        }
    }
</script>
