---
const prefacio = "/icrack41-blog/cpp_note/dt_preface";

const syntax = "/icrack41-blog/cpp_note/dt_syntax";
const basic = "/icrack41-blog/cpp_note/dt_basic";
const big_o = "/icrack41-blog/cpp_note/dt_big_o";

const binary_search = "/icrack41-blog/cpp_note/dt_binary_search";
const dynamic_programming = "/icrack41-blog/cpp_note/dt_dynamic_programming";
const graph = "/icrack41-blog/cpp_note/dt_graph";
---

<div class="x">
    <ul>
        <li><a href={prefacio}>前言</a></li>
    </ul>
    
    <h4>基礎</h4>
    <ul>
        <li><a href={syntax}>語法</a></li>
        <li><a href={basic}>基本知識</a></li>
        <li><a href={big_o}>複雜度</a></li>
    </ul>

    <h4>算法</h4>
    <ul>
        <li><a href={binary_search}>二分搜索</a></li>
        <li><a href={dynamic_programming}>動態規劃</a></li>
        <li><a href={graph}>圖論</a></li>
    </ul>
</div>

<style>
    .x{
        position: absolute;
        bottom: 20px;
        left: 0;

        width: auto;
        height: auto;
        min-width: 30dvh;
        max-height: 80dvh;

        overflow-y: auto;

        border-radius: 10px;
        border: solid 1px white;

        background-color: white;
        
        padding: 10px;

        transform: scale(0.3) translateX(-80%);
        transform-origin: 0% 100%;
        transition: all 0.1s ease-in;
    }

    .x:hover {
        background-color: #151717;
        transform: scale(1) translateX(0);
    }
</style>