---
import {
    EasyEdaIcon,
    PencilIcon,
    AstroIcon,
    BlenderIcon,
    GitIcon,
    AndroidStudioIcon,
    Printer3dIcon,
    VsCodeIcon,
    SolderIcon,
    UltimakerCuraIcon,
} from "../assets/icons.jsx";

let icon_size = 50;
---

<div style="margin-bottom: 80px;">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 12px; margin-right: 20px;">
        技能樹<hr />
    </div>

    <div class="relative h-86" style="z-index: 2;">
        <div id="android-studio" class="skill-tree-item" style="top: 10%; right: 64%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>
            
            <div class="icon">
                <AndroidStudioIcon width={icon_size} height={icon_size} />
                <b class="item-text">Android Studio</b>
            </div>
        </div>

        <div id="painting" class="skill-tree-item" style="top: 22%; right: 40%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>
            
            <div class="icon">
                <PencilIcon width={icon_size} height={icon_size} />
                <b class="item-text">Painting</b>
            </div>
        </div>

        <div id="blender" class="skill-tree-item" style="top: 33%; right: 80%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>
            
            <div class="icon">
                <BlenderIcon width={icon_size} height={icon_size} />
                <b class="item-text">Blender</b>
            </div>
        </div>

        <div id="solder" class="skill-tree-item" style="top: 45%; right: 22%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>
            
            <div class="icon">
                <SolderIcon width={icon_size} height={icon_size} />
                <b class="item-text">Solder</b>
            </div>
        </div>

        <div id="git" class="skill-tree-item" style="top: 45%; right: 53%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>
            
            <div class="icon">
                <GitIcon width={icon_size} height={icon_size} />
                <b class="item-text">Git</b>
            </div>
        </div>

        <div id="easy-eda" class="skill-tree-item" style="top: 77%; right: 27%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>
            
            <div class="icon">
                <EasyEdaIcon width={icon_size} height={icon_size} />
                <b class="item-text">Easy EDA</b>
            </div>
        </div>

        <div id="astro" class="skill-tree-item" style="top: 81%; right: 45%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>

            <div class="icon">
                <AstroIcon width={icon_size} height={icon_size} />
                <b class="item-text">Astro</b>
            </div>
        </div>

        <div id="printer-3d" class="skill-tree-item" style="top: 76%; right: 74%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>
            
            <div class="icon">
                <Printer3dIcon width={icon_size} height={icon_size} />
                <b class="item-text">3D Print</b>
            </div>
        </div>

        <div id="vs-code" class="skill-tree-item" style="top: 69%; right: 61%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>

            <div class="icon">
                <VsCodeIcon width={icon_size} height={icon_size} />
                <b class="item-text">VS Code</b>
            </div>
        </div>

        <div id="ultimaker-cura" class="skill-tree-item" style="top: 58%; right: 87%;">
            <div class="corner-tl" style="width: 5px; height: 5px"/>
            <div class="corner-tr" style="width: 5px; height: 5px"/>
            <div class="corner-bl" style="width: 5px; height: 5px"/>
            <div class="corner-br" style="width: 5px; height: 5px"/>
            
            <div class="icon">
                <UltimakerCuraIcon width={icon_size} height={icon_size} />
                <b class="item-text">Ultimaker Cura</b>
            </div>
            
        </div>

        <svg id="lines" class="absolute top-0 left-0 w-full h-full pointer-events-none" style="z-index: -1;"></svg>
    </div>

    <b style="color: rgb(160,160,160);">
        技能樹擴展中... (React | Next.js | STM32CubeIDE)
    </b>

</div>

<script>
    const connections = 
    [
        ["android-studio", "git"],
        ["vs-code", "git"],
        ["solder", "easy-eda"],
        ["astro", "vs-code"],
        ["blender", "painting"],
        ["blender", "printer-3d"],
        ["blender", "ultimaker-cura"],
        ["printer-3d", "ultimaker-cura"],
        ["blender", "git"],
        ["git", "easy-eda"],
        ["painting", "easy-eda"],
        ["painting", "android-studio"],
        ["painting", "astro"],
    ];

    function connectAll()
    {
        const svg = document.getElementById("lines") as SVGSVGElement | null;
        if (!svg) return;

        svg.innerHTML = "";
        const svgRect = svg.getBoundingClientRect();

        connections.forEach( ([id1, id2]) => {
            const obj1 = document.getElementById(id1)?.getBoundingClientRect();
            const obj2 = document.getElementById(id2)?.getBoundingClientRect();

            if (!obj1 || !obj2) return;

            const x1 = obj1.left + obj1.width/2  - svgRect.left;
            const y1 = obj1.top  + obj1.height/2 - svgRect.top;
            const x2 = obj2.left + obj2.width/2  - svgRect.left;
            const y2 = obj2.top  + obj2.height/2 - svgRect.top;

            const line = document.createElementNS("http://www.w3.org/2000/svg", "line");
            line.setAttribute("x1", x1.toString());
            line.setAttribute("y1", y1.toString());
            line.setAttribute("x2", x2.toString());
            line.setAttribute("y2", y2.toString());
            line.setAttribute("stroke", "white");
            line.setAttribute("storke-width", "2px");

            svg?.appendChild(line);

        });
    }

    connectAll();
    window.addEventListener("resize", connectAll);

</script>
