---
import MainNavigation from '../../components/MainNavigation.astro';
import ZjAnsLayout from '../../layouts/ZjAnsLayout.astro';

import "../../styles/index.css";
import zj_question from "../../data/zj_question.json";
---


<ZjAnsLayout>
    <div class="scanlines"></div>
    <div class="background"></div>
    <div class="background-grid"></div>
    
    <MainNavigation/>

    <div class="w-full h-[84%] mt-16 px-6 justify-center items-center overflow-y-auto">
        <h1 class="text-2xl mb-4">Zerojudge 題解</h1>

        <h2 class="text-xl text-zinc-400 mb-4"># 基礎題庫 <small class="text-sm ml-2">( 106 / 718 )</small></h2>
        {
            zj_question.basic.map(q => (
                <a class={q.color} href={`/icrack41-blog/zj_ans/${q.number}`}>{q.number}</a>
            ))
        }

        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># 競賽題庫 <small class="text-sm ml-2">( 0 / 498 )</small></h2>
        {
            zj_question.contest.map(q => (
                <a class={q.color} href={`/icrack41-blog/zj_ans/${q.number}`}>{q.number}</a>
            ))
        }

        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># IOI/APCS <small class="text-sm ml-2">( 0 / 650 )</small></h2>
        {
            zj_question.ioi_apcs.map(q => (
                <a class={q.color} href={`/icrack41-blog/zj_ans/${q.number}`}>{q.number}</a>
            ))
        }

        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># UVa 題庫 <small class="text-sm ml-2">( 3 / 621 )</small></h2>
        {
            zj_question.uva.map(q => (
                <a class={q.color} href={`/icrack41-blog/zj_ans/${q.number}`}>{q.number}</a>
            ))
        }

        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># 原創/不分類題庫 <small class="text-sm ml-2">( 0 / 967 )</small></h2>
        {
            zj_question.uncategorized.map(q => (
                <a class={q.color} href={`/icrack41-blog/zj_ans/${q.number}`}>{q.number}</a>
            ))
        }

    </div>
    
</ZjAnsLayout>

<style>
    a {
        display: inline-block;
        width: 3rem;
        text-align: center;
    }
    a:hover{
        color: #51a2ff;
    }
</style>

