---
import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";

import MainNavigation from "../components/MainNavigation.astro";
import ContentsTable from "../components/ContentsTable.astro"

import "../styles/global.css"
import "../styles/md_style.css"

type Props = CollectionEntry<"blog">["data"] & { headings: MarkdownHeading[] };

const { title, description, date, headings } = Astro.props;
const { Content } = await Astro.props.content;

const themeColor = "#0b171d"; 
const favicon = "/icrack41-blog/favicon.svg";
---

<!doctype html>
<html lang="zh">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="theme-color" content={themeColor}>

		<link rel="icon" href={favicon} type="image/svg+xml">
		<link rel="shortcut icon" href={favicon} type="image/svg+xml">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
			integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
			crossorigin="anonymous" referrerpolicy="no-referrer" />

        <meta name="generator" content={Astro.generator} />
        <title>ICRACK - ZJ題解</title>
    </head>

    <body>
        <div class="w-full h-full">
            <!-- <div class="background"></div> -->

            <div class="p-2 bg-zinc-950 border-b-1">
                <span class="text-2xl mx-4 fa-solid fa-list"></span>
                <span class="text-2xl mr-2">{title}</span>
                <span class="text-md text-gray-500">{new Date(date).toLocaleDateString()}</span>
            </div>

            <div class="grid overflow-y-auto h-[90%] px-4 py-2">
                <!-- <nav class="contents-table" style="padding-top: 16px;">
                    目錄
                    <ContentsTable headings={headings} />
                </nav> -->
    
                <article>
                    <Content />
                </article>
            </div>
            
            <button class="back-button" onclick="location.href='/icrack41-blog/posts'">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
        </div>

        <script src="../scripts/smoothscroll.js"></script>
        <!-- <script src="../scripts/prism.js"></script> -->
    </body>

</html>

